title = "Master configuration file for editor, shell and everything else."

[owner]
name = "Edwin Bedolla"

[programs]
names = [
    "git",
    "vim",
    "wget",
    "zsh",
    "gcc",
    "g++",
    "gfortran",
    "gnuplot"
]
    # These are packages that are not always in the
    # official repositorires
    [programs.special]
    programs = [
        {name = "julia", url = "https://julialang-s3.julialang.org/bin/linux/x64/1.2/julia-1.2.0-linux-x86_64.tar.gz"},
        {name = "fzf", url = "https://github.com/junegunn/fzf.git"},
        {name = "fd", url = "https://github.com/sharkdp/fd.git"},
        {name = "ddgr", url = "https://github.com/jarun/ddgr.git"},
        {name = "tealdeer", url = "https://github.com/dbrgn/tealdeer.git"}
    ]

[shell]
name = "zsh"

    [shell.zsh]
    # Install oh-my-zsh in zsh syntax
    plugins = ["sh", "-c", "(wget -O- https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"]
    config = {source = "shell/zshrc.sh", destination = ".zshrc"}

[github]
    [github.config]
    "user.name" = "edwinb-ai"
    "user.email" = "developeredwin@gmail.com"

[editor]
name = "code"
extensions = "vscode-settings/extensions.toml"
settings = "vscode-settings/settings.json"