title = "Master configuration file for editor, shell and everything else."

[owner]
name = "Edwin Bedolla"

[languages]
langs = [
    {name = "julia", url = "https://julialang-s3.julialang.org/bin/linux/x64/1.4/julia-1.4.0-linux-x86_64.tar.gz"},
    {name = "rust", script = "curl --proto \"=https\" --tlsv1.2 -sSf https://sh.rustup.rs | sh"}
]

[programs]
base = [
    "vim",
    "wget",
    "zsh",
    "gcc",
    "g++",
    "gfortran",
    "gnuplot",
    "byobu",
    "screen",
    "make",
    "cmake"
]
# These are packages that are not always in the
# official repositorires
special = [
    {name = "fzf", url = "https://github.com/junegunn/fzf.git"},
    {name = "fd-find", url = "https://github.com/sharkdp/fd.git"},
    {name = "ddgr", url = "https://github.com/jarun/ddgr.git"},
    {name = "tealdeer", url = "https://github.com/dbrgn/tealdeer.git"},
    {name = "exa", url = "https://github.com/ogham/exa/releases/download/v0.9.0/exa-linux-x86_64-0.9.0.zip"},
    {name = "kitty", script = "curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin"}
]

[shell]
name = "zsh"
# Source/read the configuration files
config = "shell/zshrc.zsh"
alias = "shell/aliases.zsh"

    [shell.multiplexer]
    name = "byobu"

[github]
file = "git/gitconfig"

[editor]
name = "Visual Studio Code"
extensions = "vscode-settings/extensions.toml"
settings = "vscode-settings/settings.json"

[terminal]
name = "Alacritty"
config = "terminal/alacritty.yml"
